{% if success == True %}
    <p>User was successfully changed</p>
{% endif %}
{% if error_message %}
    <p style="color:red">{{ error_message }}</p>
{% endif %}
{% if deleted == False %}
    <form action='/user/edit/{{user_id}}' method="post">
        {%  csrf_token %}
        <table>
            {{  form.as_table }}
        </table>
        <input type="submit" value="Submit" />
    </form>
{% else %}
    User was successfully deleted <br/>
{% endif %}
    Click <a href="{% url 'users' %}"> here</a> to return to user list.
