Hello World
<table>
    {% for user in all_users %}
        <tr>
            <td>
                {{ user.user_id }}
            </td>
            <td>
                {{ user.user_email }}
            </td>
            <td>
                {{ user.user_name }}
            </td>
            <td>
                {% url "edit_user" user.user_id as user_url %}
                <a href="{{user_url}}" >
                    Edit
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
